/CppApplication_2/dist/
/CppApplication_2/build/
/task1/dist/
/task1/build/
/task2/client/dist/
/task2/client/build/
/task2/server/build/
/task2/server/dist/
/task2/task2client/build/
/task2/task2client/dist/
/task2/task2server/build/
/task2/task2server/dist/